@import "../_app-variables.scss";
@import "../settings/settings-breakpoints";

.form {
	border-right: $rounding-pri;
	background-color: $bg-pri;
	display: flex;
	flex-flow: column nowrap;
	gap: 30px;
	box-shadow: $shadow-pri;

	&__row {
		display: flex;
		flex-flow: column nowrap;

	}
}
