<div class="container">
    <form class="form form--filter">
        <i class="fa-solid fa-magnifying-glass"></i>
        <clt-input-field
            modelName="searchString"
            inpType="text"
            placeholder="Recipe title"
            [isTypeAhead]="true"
            [inpValue]="query().search ?? ''"
            (onInpChanged)="onSearchStringChange($event)"></clt-input-field>
    </form>

    <div class="card-container">
        @if (authService.currUserSig()) {
            <span
                class="card-container__add btn accent"
                title="Add new recipe"
                [routerLink]="['/recipes/create-edit/add-new-entity']">
                +
            </span>
        }
        @for (recipe of recipesResSig().data; track recipe.id) {
            <clt-recipe-card [recipe]="recipe"></clt-recipe-card>
        } @empty {
            <h5 class="row row--centered row--middle">No results found!</h5>
        }
    </div>

    <clt-pagination
        [paging]="recipesResSig().metaData"
        (onPagingChange)="onPagingChange($event)"></clt-pagination>
</div>
