@import 'app-variables';
@import 'settings-breakpoints';

:host {
    position: relative;
    margin-bottom: 15px;
}

.hint {
    position: absolute;
    top: 100%;
    left: 10px;
    color: $danger;
    font-size: 15px;
}
