@if ({ ui: userIteraction$ | async }; as subs) {

	<div class="container">
		<form  #createForm="ngForm" class="form w80 pt-30 pb-30 pl-50 pr-50">

			<clt-input-field
				label="Recipe Title"
				modelName="recipeTitle"
				inpType="text"
				[minLength]="5"
				[isRequired]="true"
				[inpValue]="recipe.title"
				(onInpChanged)="recipe.title = $event">
			</clt-input-field>


			<div>
				<label for="description">Description:</label>
				<textarea #description="ngModel" type="text" id="description" name="description"
					[(ngModel)]="recipe.description" required></textarea>
				<ng-container
					*ngTemplateOutlet="hintRef; context: { field: description, fieldName: 'Description'  }"></ng-container>
			</div>

			<div>
				<label for="ingredients">Ingredients:</label>
				<textarea #ingredients="ngModel" type="text" id="ingredients" name="ingredients"
					[(ngModel)]="recipe.ingredients" required></textarea>
				<ng-container
					*ngTemplateOutlet="hintRef; context: { field: ingredients, fieldName: 'Ingredients'  }"></ng-container>
			</div>

			<clt-input-field
				label="Instructions"
				modelName="instructions"
				inpType="text"
				[minLength]="20"
				[isRequired]="true"
				[inpValue]="recipe.instructions"
				(onInpChanged)="recipe.instructions = $event">
			</clt-input-field>

			<clt-input-field
				label="Image URL"
				modelName="instructions"
				inpType="text"
				[minLength]="6"
				[isRequired]="true"
				[inpValue]="recipe.image"
				(onInpChanged)="recipe.image = $event">
			</clt-input-field>


			<div>
				<button type="submit" class="accent" (click)="userIteractionSubj.next(allowedInteraction)"
					[disabled]="createForm.invalid">
					{{allowedInteraction | titlecase}} Recipe
				</button>
			</div>

		</form>
	</div>
}

<ng-template #hintRef let-field="field" let-fieldName="fieldName">
	<div *ngIf="field.invalid && !field.pristine" class="form__hint">
		<ng-container *ngIf="field?.errors?.['required']">
			{{ fieldName }} is required field
		</ng-container>
	</div>
</ng-template>
