<div class="container">
    <form class="form form--filter">
        <i class="fa-solid fa-magnifying-glass"></i>
        <clt-input-field
            modelName="searchString"
            inpType="text"
            placeholder="Recipe title"
            [isTypeAhead]="true"
            [inpValue]="query().search ?? ''"
            (onInpChanged)="onSearchStringChange($event)"></clt-input-field>
    </form>

    <div class="card-container">
        @for (recipe of recipesResSig().data; track recipe.id) {
            <clt-card [recipe]="recipe"></clt-card>
        }
    </div>

    <clt-paging
        [paging]="query()"
        (onPageChange)="onPageChange($event)"
        (onPageSizeChange)="onPageSizeChange($event)"></clt-paging>
</div>
