@import "app-variables";

form {
	width: min(500px, 90%);
	padding: 10px min(50px, 3%) 0 min(50px, 3%);
	background: $app;
	border-radius: $rounding-pri;

	h5 {
		color: $text-color-sec;
		text-align: center;
	}
}

