@import "app-variables";

:host {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 50px;
	width: 100%;
	height: 100%;
}


.recipe {
	width: 400px;
	padding: 15px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	max-width: 350px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	img {
		width: 100%;
		border-radius: 8px;
		margin-bottom: 1em;
		transition: transform 0.3s;
	}

	&:hover img {
		transform: scale(1.05);
	}

	h4 {
		width: 100%;
		height: 80px;
		background-color: $bg-sec;
		color: $text-color-sec;
		border-radius: $rounding-sec;
		padding: 10px;
	}

	p {
		margin: 1em 0;
		color: $text-color-pri;
		height: 60px; /* Ensures consistent height */
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

