
:host {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 50px;
}

.recipes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2em;
	justify-items: center;
	width: 100%;
}

.recipe {
	background: white;
	padding: 1em;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition:
		transform 0.3s,
		box-shadow 0.3s;
	text-align: center;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 350px;
}

.recipe:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe img {
	width: 100%;
	border-radius: 8px;
	margin-bottom: 1em;
	transition: transform 0.3s;
}

.recipe:hover img {
	transform: scale(1.05);
}

.recipe h3 {
	background-color: #2c3e50;
	color: white;
	padding: 0.5em;
	border-radius: 4px;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.recipe p {
	margin: 1em 0;
	color: #555;
	height: 60px; /* Ensures consistent height */
	overflow: hidden;
	text-overflow: ellipsis;
}

.recipe a {
	background-color: #3498db;
	color: white;
	padding: 0.5em 1em;
	text-decoration: none;
	border-radius: 4px;
	display: inline-block;
	transition:
		background 0.3s,
		transform 0.3s;
	font-weight: 700;
	margin-top: 1em;
}

.recipe a:hover {
	background-color: #2980b9;
	transform: scale(1.05);
}
