@import "app-variables";

:host {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 50px;
}

.recipes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2em;
	justify-items: center;
	width: 100%;
}

.recipe {
	background: white;
	padding: 1em;
	border-radius: 8px;
	box-shadow: $shadow-pri;
	transition:
		transform 0.3s,
		box-shadow 0.3s;
	text-align: center;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 350px;

	&:hover {
		transform: translateY(-10px);
		box-shadow: $shadow-hover;
	}

	img {
		width: 100%;
		border-radius: 8px;
		margin-bottom: 1em;
		transition: transform 0.3s;
	}

	&:hover img {
		transform: scale(1.05);
	}

	h3 {
		background-color: $bg-sec;
		color: $text-color-sec;
		padding: 0.5em;
		border-radius: 4px;
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}

	p {
		margin: 1em 0;
		color: $text-color-pri;
		height: 60px; /* Ensures consistent height */
		overflow: hidden;
		text-overflow: ellipsis;
	}

	a {
		background-color: $app-accent;
		color: $text-color-sec;
		padding: 0.5em 1em;
		text-decoration: none;
		border-radius: 4px;
		display: inline-block;
		transition:
			background 0.3s,
			transform 0.3s;
		font-weight: 700;
		margin-top: 1em;
	}

	a:hover {
		background-color: #2c3e50;
		transform: scale(1.05);
	}
}

