@if({ ui: userIteraction$ | async }; as subs) {
	<div class="container">

		@if (selectedRecipeSig()) {
			<article class="recipe">

				<h2>{{selectedRecipeSig()?.title}}</h2>

				<div class="recipe__block">
					<img src="{{selectedRecipeSig()?.image}}" alt="{{selectedRecipeSig()?.title}}">
				</div>

				<div class="recipe__block col col--space-btw">
					<p>{{selectedRecipeSig()?.description}}</p>

					<hr/>

					<h3>Ingredients:</h3>
					<p>{{selectedRecipeSig()?.ingredients}}</p>

					<hr/>

					<h3>Instructions:</h3>
					<p>{{selectedRecipeSig()?.instructions}}</p>

					<hr/>

					<!-- <h3>People Who Recommend:</h3> -->

					<div class="row row--no-wrap row--space-btw w100">

						@if(authService.currUserSig()?._id === selectedRecipeSig()?.owner) {
							<button class="danger" (click)="userIteractionSubj.next('deleteDialog')">Delete</button>
							<button [routerLink]="['/recipes/' + selectedRecipeSig()?._id + '/edit']" [state]="{ recipe: selectedRecipeSig() }">Edit</button>
						} @else {
							<button [routerLink]="['/recipes/']" >Back to Recipes</button>
							<button class="accent" (click)="userIteractionSubj.next('recommend')">Recommend</button>
						}

					</div>
				</div>

			</article>

			<div *ngIf="false">You've already recommended this recipe!</div>

			<app-modal [show]="showModal" entity="recipe" (close)="onModalClosed($event)"></app-modal>
		}

	</div>
}

