@import "app-variables";


.recipe {
	background: $bg-ter;
	border-radius: $rounding-pri;
	box-shadow: $shadow-pri;
	padding: 2em;
	margin: 2em auto;
	width: fit-content;
	transition:
		transform 0.3s,
		box-shadow 0.3s;


	&:hover {
		transform: translateY(-10px);
		box-shadow: $shadow-hover;
	}

	&:hover img {
		transform: scale(1.05);
	}


	h2 {
		background-color: $app;
		color: $text-color-sec;
		padding: 0.5em;
		border-radius: $rounding-pri;
		text-align: center;
	}

	h3 {
		// color: $text-color-pri;

	}

	&__block {
		width: min(500px, calc(100%));
	}


	img {
		width: 100%;
		border-radius: 8px;
		margin-bottom: 1em;
		transition: transform 0.3s;
	}
}




