@if ({ ui: userIteraction$ | async }; as subs) {
    <div class="container">
        <form
            #userEditForm="ngForm"
            class="form w50 pt-30 pb-30 pl-50 pr-50">
            <clt-input-field
                label="Username"
                modelName="usesrname"
                inpType="text"
                [minLength]="5"
                [isRequired]="true"
                [inpValue]="user.username ?? ''"
                (onInpChanged)="user.username = $event"></clt-input-field>

            <clt-input-field
                label="Email"
                modelName="email"
                inpType="text"
                [isDisabled]="isEditEntity(user)"
                [inpValue]="user.email"
                (onInpChanged)="user.email = $event"></clt-input-field>

            @if (isCreateEntity(user)) {
                <clt-input-field
                    label="Password"
                    modelName="password"
                    inpType="password"
                    [inpValue]="user.password"
                    (onInpChanged)="user.password = $event"></clt-input-field>
            }

            <clt-input-select
                label="Role"
                modelName="role"
                [selectListEnum]="userRolesEnum"
                [inpValue]="user.role"
                [selectEcceptions]="[userRolesEnum.GUEST]"
                (onSelectChanged)="user.role = $event"></clt-input-select>

            <div class="row row--no-wrap">
                @if (isEditEntity(user)) {
                    <button
                        class="danger"
                        (click)="userIteractionSubj.next('delete')">
                        {{ 'delete' | titlecase }} User
                    </button>
                    <button
                        type="submit"
                        class="accent ml-50"
                        (click)="userIteractionSubj.next('update')"
                        [disabled]="userEditForm.invalid || !userEditForm.dirty">
                        {{ 'update' | titlecase }} User
                    </button>
                } @else if (isCreateEntity(user)) {
                    <button
                        type="submit"
                        class="accent ml-a"
                        (click)="userIteractionSubj.next('create')"
                        [disabled]="userEditForm.invalid || !userEditForm.dirty">
                        {{ 'create' | titlecase }} User
                    </button>
                }
            </div>
        </form>
    </div>
}

<ng-template
    #hintRef
    let-field="field"
    let-fieldName="fieldName">
    <div
        *ngIf="field.invalid && !field.pristine"
        class="form__hint">
        <ng-container *ngIf="field?.errors?.['required']">{{ fieldName }} is required field</ng-container>
    </div>
</ng-template>
