@import "app-variables.scss";
@import "settings-breakpoints";

:host {
	* {
		color: $text-color-sec;
		cursor: pointer;
	}

	.nav__item {
		color: $text-color-sec;
		padding: 0.5em 1em;
		border-radius: $rounding-pri;

		&:hover {
  			transform: scale(1.05);
		}
	}

	.logo {
		display: flex;
		height: 35px;
		width: 35px;

		img {
			height: 100%;
			width: auto;
			filter: invert(1);
		}
	}
}

