<div class="container nav row row--no-wrap">
	<!-- logo  -->
	<span [routerLink]="['/']" class="logo mr-a" aria-label="Navigate to home">
		<img src="../../../../assets/img/logo.png" alt="logo">
	</span>

	<!-- navgation -->
	@for (item of menuItems; track $index) {
		<span [appIsAuthorised]="item.roles"  [role]="authService.currUserSig()?.role"
			class="nav__item"
			[routerLink]="'/'+ item.path"
			[attr.aria-label]="'Navigate to section ' + item.title">
			{{item.title | uppercase}}
		</span>
	}

	<!-- username  -->
	<span class="nav__item ml-100">{{authService.currUserSig()?.username | uppercase}}</span>
</div>
