@import "app-variables.scss";
@import "settings-breakpoints";

:host {
	width: 100%;

	.nav {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row nowrap !important;
		align-items: center;

		* {
			color: $text-color-sec;
			cursor: pointer;
			font-size: 18px;
		}

		&__logo {
			display: flex;
			height: 35px;
			width: 35px;

			img {
				height: 100%;
				width: auto;
				filter: invert(1);
			}
		}

		&__item {
			color: $text-color-sec;
			padding: 0.5em 2em;
			border-radius: $rounding-pri;

			&:hover {
				  transform: scale(1.05);
			}
		}
	}
}

