@import 'app-variables';

.app {
    $width: 100vw;

    width: $width;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    & > * {
        width: $width;
    }

    &__header {
        height: fit-content;
        z-index: 20;
    }

    &__main {
    }

    &__footer {
        margin-top: auto;
        z-index: 20;
    }
}
