@if (label) {
    <label
        class="mr-5"
        [for]="modelName">
        {{ label | titlecase }}
    </label>
}

<select
    #inpSelectRef
    #inpSelect="ngModel"
    class="form__control"
    [id]="modelName"
    [name]="modelName"
    [ngModel]="inpValue ?? null"
    (ngModelChange)="onSelectChanged.emit($event)"
    (focusin)="onSelectFocusedIn.emit(inpValue)"
    (focusout)="onSelectFocusedOut.emit(inpValue)"
    [required]="isRequired"
    [disabled]="isDisabled">
    <option [ngValue]="null">{{ placeholder }}</option>

    @if (selectListEnum) {
        @for (role of selectListEnum | appEnumToList; track role) {
            @if (!selectEcceptions.includes(role)) {
                <option [ngValue]="role">{{ role.replace('_', ' ') | titlecase }}</option>
            }
        }
    } @else {
        @for (opt of selectList; track opt) {
            <option [ngValue]="opt">{{ opt }}</option>
        }
    }
</select>

@if (inpSelect.invalid && !inpSelect.pristine) {
    <div class="hint">
        @if (inpSelect.errors?.['required']) {
            ⚠️ {{ modelName | titlecase }} is required
            <br />
        }
    </div>
}
