@import "app-variables";

button:not([popovertarget]) {
	border-radius: $rounding-pri;
	text-transform: uppercase;
	width: 200px;
	height: 40px;

	&.accent {
		background-color: $app-accent;
	}

	&.danger {
		background-color: $danger;
	}

	&:hover:not(:disabled) {
		filter: brightness(1.3) saturate(1.2);
		transform: scale(1.05);
	}
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: $text-color-sec;
	font-family: $font-family-sec;
	background-color: $app;
	cursor: pointer;
	transition:
		background-color 300ms ease-in,
		transform 300ms ease-in;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.7;
	}
}
