.icon {
    width: auto;
    background-repeat: no-repeat;


    &--help {
        cursor: help;
    }

    &--clickable {
        cursor: pointer;

        &:hover {
            scale: 1.2;
        }
    }
}