@import "app-variables";
@import "settings-breakpoints";

.carousel {
	width: calc(100% - 6vmin);
	margin: 0 auto;
	overflow-x: auto;
	height: 300px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	gap: 3vmin;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	anchor-name: --carousel;

	@include tablet-landscape{
		height: 500px;;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&::scroll-button(left) {
		content: "⮕";
		transform: translateX(-50%);
		position-area: right center;
	}

	&::scroll-button(right) {
		content: "⬅︎";
		transform: translateX(50%);
		position-area: left center;
	}

	&::scroll-button(right),
	&::scroll-button(left) {
		border: none;
		font-size: 5vmin;
		height: 15%;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: $app;
		color: $text-color-sec;
		position: fixed;
		cursor: pointer;
		position-anchor: --carousel;


		&:disabled {
			opacity: 0.5;
			cursor: auto;
		}
	}

	clt-card {
		scroll-snap-align: start;
		flex: 0 0 100px;
	}

	img  {
		scroll-snap-align: start;
		width: clamp(150px, 150px, 150px);
		object-fit: cover;
		object-position: center;
		border-radius: $rounding-pri;
		transition: transform 300ms ease;

		@include tablet-landscape{
			width: clamp(300px, 300px, 300px);
		}

		&:hover {
			transform: translateY(10px);
		}
	}
}
