<div class="container">
    <form class="form form--filter">
        <i class="icon icon--help fa-solid fa-magnifying-glass"></i>

        <rcp-input-field
            modelName="searchString"
            inpType="text"
            placeholder="Username or Email"
            [isTypeAhead]="true"
            [inpValue]="query().search ?? ''"
            (onInpChanged)="onSearchChanged($event)"></rcp-input-field>

        <rcp-input-select
            modelName="role"
            placeholder="All roles"
            [selectListEnum]="userRolesEnum"
            [inpValue]="query().role"
            [selectEcceptions]="[userRolesEnum.GUEST]"
            (onSelectChanged)="onRoleChanged($event)"></rcp-input-select>
    </form>

    <div class="card-container">
        <span
            class="card-container__add btn accent"
            title="Add new user"
            [routerLink]="['/users/crate-edit/add-new-entity']">
            +
        </span>

        @for (account of accountsResSig().data; track account.id) {
            <rcp-user-card [account]="account"></rcp-user-card>
        } @empty {
            <h5 class="row row--centered row--middle">No results found!</h5>
        }
    </div>

    <rcp-pagination
        [paging]="accountsResSig().metaData"
        (onPagingChange)="onPagingChange($event)"></rcp-pagination>
</div>
