@import "app-variables";

.account {
	width: fit-content;
	box-shadow: $shadow-pri;
	border-radius: $rounding-pri;
	background-color: $bg-ter;
	padding: 15px 15px;

	i {
		font-size: 70px;
	}

	&:hover i {
		transform: scale(1.05);
	}

	&__body {
		display: grid;
		grid-template-columns: 100px 150px;
		justify-items: start;
	}
}


