<div class="container">
    <form class="form form--filter">
        <i class="fa-solid fa-magnifying-glass"></i>

        <clt-input-field
            modelName="searchString"
            inpType="text"
            placeholder="Username or Email"
            [isTypeAhead]="true"
            [inpValue]="query().search ?? ''"
            (onInpChanged)="onSearchChanged($event)"></clt-input-field>

        <clt-input-select
            modelName="role"
            placeholder="All roles"
            [selectListEnum]="userRolesEnum"
            [inpValue]="query().role"
            [selectEcceptions]="[userRolesEnum.GUEST]"
            (onSelectChanged)="onRoleChanged($event)"></clt-input-select>
    </form>

    <div class="card-container">
        <span
            class="card-container__add btn accent"
            title="Add new user"
            [routerLink]="['/users/add-new-user']">
            +
        </span>
        @for (account of accountsResSig().data; track account.id) {
            <article class="account jumpy-card row row--no-wrap gap-20">
                <i class="fa-solid fa-user"></i>

                <div class="account__body col col--no-wrap gap-10">
                    <span>Username:</span>
                    <span class="text-accent">{{ account.username }}</span>
                    <span>Email:</span>
                    <a
                        class="text-accent"
                        [href]="'mailto:' + account.email">
                        {{ account.email }}
                    </a>
                    <span>Role:</span>
                    <span class="text-accent">{{ account.role }}</span>
                    <button
                        class="accent span-2 w100 mt-10"
                        [routerLink]="['/users/', account?.id]"
                        routerLinkActive="router-link-active"
                        [state]="{ user: account }">
                        Edit User
                    </button>
                </div>
            </article>
        } @empty {
            <h5 class="row row--centered row--middle">No results found!</h5>
        }
    </div>

    <clt-paging
        [paging]="accountsResSig().metaData"
        (onPagingChange)="onPagingChange($event)"></clt-paging>
</div>
