@import '../../../styles/app-variables';
@import '../../../styles/settings/settings-breakpoints';

:host {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &::before {
        content: '';
        width: 100%;
        height: 1px;
        border-top: 1px dashed $app;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 0;
    }

    clt-input-select,
    .page {
        position: relative;
        width: fit-content;
        background: $bg-pri;
        z-index: 1;
        padding: 5px 10px;
        margin-bottom: 0;
    }

    .page__info {
        font-size: calc(2 * $font-size-base);
        width: 130px;
        text-align: center;
    }

    .btn {
        width: 30px;
        max-width: 30px;
    }

    clt-input-select {
        transform: scale(1.5);
    }
}