<clt-input-select
    class="size w-220"
    label="Items per page:"
    modelName="pageSize"
    [selectList]="pagingSizeOptions"
    [inpValue]="paging().pageSize"
    (onSelectChanged)="onPagingChange.emit({ page: 1, pageSize: $event })"></clt-input-select>

<div class="page row row--no-wrap row--centered gap-20">
    <span
        class="btn accent"
        [ngClass]="{ disabled: getMinCount() === 1 }"
        (click)="onPagingChange.emit({ page: paging().page - 1, pageSize: paging().pageSize })">
        ❮
    </span>
    <div class="page__info w-130">{{ getMinCount() }} - {{ getMaxCount() }} of {{ paging().total }}</div>
    <span
        class="btn accent"
        [ngClass]="{ disabled: getMaxCount() === paging().total }"
        (click)="onPagingChange.emit({ page: paging().page + 1, pageSize: paging().pageSize })">
        ❯
    </span>
</div>
