<div class="container">
    <h2>Personal data:</h2>
    <form
        #ownAccountForm="ngForm"
        class="row row--no-wrap gap-50 w100">
        <clt-input-field
            label="Username"
            modelName="usesrname"
            inpType="text"
            [minLength]="5"
            [isRequired]="true"
            [isDisabled]="!isEditMode"
            [inpValue]="user.username ?? ''"
            (onInpChanged)="user.username = $event"></clt-input-field>

        <clt-input-field
            label="Email"
            modelName="email"
            inpType="text"
            [isDisabled]="!isEditMode"
            [inpValue]="user.email"
            (onInpChanged)="user.email = $event"></clt-input-field>

        <clt-input-select
            label="Role"
            modelName="role"
            [selectListEnum]="userRolesEnum"
            [isDisabled]="!isEditMode"
            [inpValue]="user.role"
            [selectEcceptions]="[userRolesEnum.GUEST]"
            (onSelectChanged)="user.role = $event"></clt-input-select>

        <div class="row row--no-wrap">
            @if (isEditMode) {
                <button
                    type="submit"
                    class="accent"
                    (click)="updateOwnAccount()"
                    [disabled]="ownAccountForm.invalid || ownAccountForm.pristine">
                    Update Account
                </button>
            } @else {
                <button
                    type="submit"
                    class="accent"
                    (click)="isEditMode = true"
                    [disabled]="isEditMode">
                    Edit Account
                </button>
            }
        </div>
    </form>
    <h2>My recepies:</h2>
    <div class="carousel">
        @for (recipe of ownRecipesResSig().data; track recipe.id) {
            <!-- <clt-card [recipe]="recipe"></clt-card> -->
            <img
                [src]="recipe.image"
                [alt]="recipe.title"
                [routerLink]="['/recipes', recipe?.id]" />
        } @empty {
            <h5 class="row row--centered row--middle">You don't have any recipes yet!</h5>
        }
    </div>
</div>
